.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.title 
h3
{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.downloadContainer{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.downloadContainer
.down{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.downloadContainer
.down
.colum{
    display: flex;
    flex-direction: column;
}

.downloadContainer
.down
img{
   width: 150px;
   height: auto;
   border: 1px solid black;
}



.downloadContainer
.row
{
    border: 1px solid black;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 3px;
    padding: 0.5rem;
}


.downloadContainer
.row
a{
    margin-right: 2rem;
}